In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# csv file saved in same folder
csv_city_unemployment = "origional_data/dataEmpl_full_annual.csv"

# create df from csv, clean and display first rows
city_employment = pd.read_csv(csv_city_unemployment)
city_employment.drop(["employmentTotal","employmentChange","unemploymentChange"],axis=1,inplace=True)
city_employment = city_employment[city_employment.year > 2006]
city_employment = city_employment[city_employment.year < 2018]
city_employment = city_employment.rename(columns={"area":"city","unemploymentRate":"unemployment"})
city_employment = city_employment[city_employment.city.str.contains(", TX")]
city_employment.head()

             city  year  unemployment
9181  Abilene, TX  2007        3.5373
9182  Abilene, TX  2008        3.7812
9183  Abilene, TX  2009        5.8180
9184  Abilene, TX  2010        6.9720
9185  Abilene, TX  2011        6.7516

In [3]:
employment_table = pd.pivot_table(city_employment, values='unemployment', index=['city','year'])
employment_table

                            unemployment
city                  year
Abilene, TX           2007        3.5373
                      2008        3.7812
                      2009        5.8180
                      2010        6.9720
                      2011        6.7516
                      2012        5.8135
                      2013        5.4194
                      2014        4.3250
                      2015        3.8464
                      2016        3.9331
                      2017        3.6826
Amarillo, TX          2007        3.3113
                      2008        3.5048
                      2009        5.2611
                      2010        5.6755
                      2011        5.3874
                      2012        4.8331
                      2013        4.6255
                      2014        3.6645
                      2015        3.0849
                      2016        3.1247
                      2017        2.9823
Austin-Round Rock, TX 2007        3.6494
                      2008        4.3054
                      2009        6.9079
                      2010        6.9947
                      2011        6.5936
                      2012        5.6770
                      2013        5.1871
                      2014        4.2090
...                                  ...
Victoria, TX          2010        7.6435
                      2011        6.7255
                      2012        5.5767
                      2013        5.3234
                      2014        4.1528
                      2015        4.2006
                      2016        5.4459
                      2017        4.8292
Waco, TX              2007        4.2495
                      2008        4.5472
                      2009        6.8478
                      2010        7.4268
                      2011        7.4773
                      2012        6.6800
                      2013        6.2335
                      2014        5.0685
                      2015        4.0709
                      2016        3.9759
                      2017        3.8684
Wichita Falls, TX     2007        4.0381
                      2008        4.6660
                      2009        7.3683
                      2010        7.6639
                      2011        6.8020
                      2012        6.0028
                      2013        5.7872
                      2014        4.8229
                      2015        4.2959
                      2016        4.3469
                      2017        3.6652

[275 rows x 1 columns]

In [4]:
employment_table2 = pd.pivot_table(city_employment, values='unemployment',index="city",columns='year').reset_index()
# employment_table2

In [5]:
employment_table.to_csv("output_data/texas_unemployment.csv", index=True, header=True)